body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #1F2937;
    font-family: Open sans,Helvetica Neue,Helvetica Arial, sans-serif;
}

.header-content{
    color: #f9faf8;
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 50px;
}

.header-top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}


.header-mid{
    display: flex;
    gap: 10px;
}

.header-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 600px;
    height: auto;
    flex: 1 1 auto;
}

.header-info button{
    flex: 0 0 auto;
    background-color: #3882F6;
    color: #f9faf8;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    border-color: #3882F6;
    border-style: hidden;
}

.image{
    display: flex;
    background-color: #969ca1;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 200px;
    flex: 1 1 auto;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.hero{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

ul{
    list-style: none;
    display: flex;
    gap: 10px;
}

a{
    text-decoration: none;
    color: #f9faf8;
}

.information{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    flex: 1 1 auto;
}

.information-header{
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.information-items{
    display: flex;
    padding-top: 15px;
    justify-content: space-around;
    width: 600px;
    height: auto;
    flex: 1 1 auto;
}

.item{
    width: 100px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-align: center;
}

.block{
    width: 100px;
    height: 100px;
    border-color: #3882F6;
    border-style: outset;
    border-radius: 10px;
}

.quote-section{
    background-color: #E5E7eB;
    padding: 100px;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

.author{
    align-self: flex-end;
   font-weight: bold;
   font-style: normal;
}

.sign-up{
    background-color: white;
    display: flex;
    padding: 50px;
    justify-content: center;
    align-content: center;
}

.call{
    background-color: #3882F6;
    padding: 20px;
    border-radius: 10px;
    width: 800px;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    
}

.call-action{
    display: flex;
    flex-direction: column;
}

.sign-up button{
    background-color: #3882F6;
    color: #f9faf8;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    border-color: white;
    border-style: double;
    align-self: center;
}

.footer{
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
}